entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3 main.py"]
deploymentTarget = "gce"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
mode = "sequential"
author = 662691

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
